body {
  background-color:   #383c45;
  font-family:          "Open Sans", sans-serif;
  color:                #ffffff;
}
.piLogo {
  color:              #0d0628;
  font-family:          "BloodFont";
}
.piLogoWhite {
  color:              #ffffff;
  font-family:          "BloodFont";
  font-weight:          900;
}
.piLogoDark {
  color:               #383c45;
  font-family:          "BloodFont";
  font-weight:          900;
}
.piLogoBlue {
  color:               #009dea;
  font-family:          "BloodFont";
  font-weight:          900;
}
.piLogoRed {
  color:               indianred;
  font-family:          "BloodFont";
  font-weight:          900;
  position:             relative;
}
.piHeader {
  font-family:          "Open Sans", sans-serif;
  font-weight:          900;
  text-transform:       uppercase;
}

.piWhite {
  color:              #ffffff;
  font-weight:          900;
}
.piBlue {
  color:               #009dea;
  font-weight:          900;
}


.FS-1{
  font-size:            10px;
}
.FS-2{
  font-size:            12px;
}
.FS-3{
  font-size:            14px;
}
.FS-4{
  font-size:            16px;
}
.FS-5{
  font-size:            20px;
}
.FS-6{
  font-size:            24px;
}
.FS-7{
  font-size:            36px;
}
.FS-8{
  font-size:            48px;
}
.FS-9{
  font-size:            64px;
}

.FS-LOGO-LARGE {
  font-size:            100px;
}

ul.list {
	list-style-type: circle;
}

ul.list li::marker {
	color: #009dea;
}
/*
a:link { 
  text-decoration: none!important;
  color: #009dea!important; 
} 
a:visited { 
  text-decoration: none!important; 
  color: #009dea!important; 
} 
a:active { 
  text-decoration: none!important;
  color: #009dea!important; 
}
a:hover {
  text-decoration: none!important;
  color: indianred!important;
}*/ 

/* media */
@media (min-width: 920px)
{ 
  #Container {
    position:           relative;
    padding:            16px 24px;
    margin:             0 auto;    
    max-width:          800px;
    min-width:          300px;
  }
  .FS-LOGO {
    font-size:          48px;
    text-align:         center;
  }
}

@media (min-width: 830px) and (max-width: 920px)
{ 
  #Container {
    position:           relative;
    padding:            16px 24px;
    margin:             0 auto;    
    max-width:          800px;
    min-width:          300px;
  }

  .FS-LOGO {
    font-size:          42px;
    text-align:         center;
  }
}

@media (min-width: 750px) and (max-width: 830px)
{ 
  #Container {
    position:           relative;
    padding:            16px 24px;
    margin:             0 auto;    
    min-width:          300px;
  }
  .FS-LOGO {
    font-size:          38px;
    text-align:         center;
  }
}

@media (min-width: 700px) and (max-width: 750px)
{ 
  #Container {
    position:           relative;
    padding:            16px 24px;
    margin:             0 auto;    
    min-width:          300px;
  }
  .FS-LOGO {
    font-size:          32px;
    text-align:         center;
  }
}

@media (min-width: 660px) and (max-width: 700px)
{ 
  #Container {
    position:           relative;
    padding:            16px 24px;
    margin:             0 auto;    
    min-width:          300px;
  }
  .FS-LOGO {
    font-size:          30px;
    text-align:         center;
  }
}

@media (min-width: 640px) and (max-width: 660px)
{ 
  #Container {
    position:           relative;
    padding:            16px 24px;
    margin:             0 auto;    
    min-width:          300px;
  }
  .FS-LOGO {
    font-size:          28px;
    text-align:         center;
  }
}

@media (min-width: 600px) and (max-width: 640px)
{ 
  #Container {
    position:           relative;
    padding:            16px 24px;
    margin:             0 auto;    
    min-width:          300px;
  }
  .FS-LOGO {
    font-size:          26px;
    text-align:         center;
  }
}

@media (min-width: 470px) and (max-width: 600px)
{ 
  #Container {
    position:           relative;
    padding:            16px 24px;
    margin:             0 auto;    
    min-width:          300px;
  }
  .FS-LOGO {
    font-size:          24px;
    text-align:         center;
  }
}

@media (min-width: 440px) and (max-width: 470px)
{ 
  #Container {
    position:           relative;
    padding:            16px 24px;
    margin:             0 auto;    
    min-width:          300px;
  }
  .FS-LOGO {
    font-size:          22px;
    text-align:         center;
  }
}

@media (min-width: 420px) and (max-width: 440px)
{ 
  #Container {
    position:           relative;
    padding:            16px 24px;
    margin:             0 auto;    
    min-width:          300px;
  }
  .FS-LOGO {
    font-size:          20px;
    text-align:         center;
  }
}

@media (min-width: 400px) and (max-width: 420px)
{ 
  #Container {
    position:           relative;
    padding:            16px 24px;
    margin:             0 auto;    
    min-width:          300px;
  }
  .FS-LOGO {
    font-size:          18px;
    text-align:         center;
  }
}

@media (min-width: 360px) and (max-width: 400px)
{ 
  #Container {
    position:           relative;
    padding:            16px 24px;
    margin:             0 auto;    
    min-width:          300px;
  }
  .FS-LOGO {
    font-size:          16px;
    text-align:         center;
  }
}

@media (min-width: 320px) and (max-width: 360px)
{ 
  #Container {
    position:           relative;
    padding:            12px 24px;
    margin:             0 auto;    
    min-width:          300px;
  }
  .FS-LOGO {
    font-size:          14px;
    text-align:         center;
  }
}

@media (max-width: 320px)
{ 
  #Container {
    position:           relative;
    padding:            10px 24px;
    margin:             0 auto;    
    min-width:          200px;
  }
  .FS-LOGO {
    font-size:          12px;
    text-align:         center;
  }
}
/* (портретный режим) */
/*@media only screen and (orientation: portrait) and (max-device-width: 400px) {
  #Container {
    position:           relative;
    padding:            16px 24px;
    margin:             0 auto;    
    min-width:          300px;
  }
  .FS-LOGO {
    font-size:          22px;
    text-align:         center;
  }
}*/